{
  "ConnectionStrings": {
    "SuperstarsDB": "Server=.\\SQLEXPRESS;Database=Superstars;Trusted_Connection=True;"
  },
  "JwtBearer": {
    "SigningKey": "<Signing key>",
    "Audience": "<audience>",
    "Issuer": "<issuer>"
  }
}