@using Superstars.WebApp.Services
@{
    var token = (Token) ViewData["Token"];
    var pseudo = (string) ViewData["Pseudo"];
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>SUPERSTARS</title>
    @Html.Partial("_AppStyles")
</head>
<body style="background: no-repeat center center fixed;
  background-image: linear-gradient(to bottom, #ffffff, #f7f6fb, #efedf7, #e7e5f2, #dfdcee, #d8d4eb, #d0cde8, #c9c5e5, #c1bce2, #b9b4e0, #b1abdd, #a9a3da);">
<div id="app"></div>
<script>
    (function() {
        var superStars = (function() {
            var identity = null;
            var getIdentity = function() {
                return identity;
            };
            var setIdentity = function(i) {
                identity = i;
            };
            return {
                getIdentity: getIdentity,
                setIdentity: setIdentity,
            };
        })();
        this.SuperStars = superStars;
    })();
</script>
@if (token != null && pseudo != null)
{
    <script>
        (function() {
            SuperStars.setIdentity({
                bearer: {
                    access_token: '@token.AccessToken',
                    expires_in: @token.ExpiresIn
                },
                pseudo: '@pseudo',
            });
        })();
    </script>
}
<environment names="Development">
    <script type="text/javascript" src="http://localhost:8080/dist/bundle.js"></script>
</environment>
<environment names="Staging,Production">
    <script type="text/javascript" src="~/dist/bundle.js"></script>
</environment>
</body>
</html>