<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SUPERSTARS</title>
</head>
<body>
    <h1>LA STREET</h1>
    <script>
    </script>
    <environment names="Development">
        <script type="text/javascript" src="http://localhost:8080/dist/all-in.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/dist/all-in.js"></script>
    </environment>
</body>
</html>